<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">                                               <!-- margin right - push items to the right -->
                <li class="nav-item"><a class="nav-link" th:href="@{index}"> TO DO LIST </a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{addtaskform}"> ADD TASK </a></li>
            </ul>
        </div>
    </nav>
</body>
</html>